<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Graphs application</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="webjars/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" media="screen"/>
    <script src="webjars/cytoscape/3.2.5/dist/cytoscape.js"></script>
</head>

<style>
    #cy {
        height: 500px;
        border: 1px solid lightslategrey;
    }
</style>

<body>

<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">Graphs application</a>
        </div>
        <ul class="nav navbar-nav">
            <li class="active"><a href="/">Create graph</a></li>
            <li><a href="#">Something else</a></li>
        </ul>
    </div>
</nav>


<div class="container">
    <div>
        <form th:action="@{/graph}" th:object="${input}" method="post">
            <div class="form-group">
                <label for="input">Input:</label>
                <textarea class="form-control" rows="5" th:field="*{text}" id="input"></textarea>
                <div th:each="inputType : ${T(edu.uz.graphs.model.input.InputType).values()}"
                     class="radio">
                    <label><input type="radio" th:field="*{type}" th:value="${inputType}"
                                  th:text="${inputType.name}"></label>
                </div>
                <p>
                    <button type="submit" name="action" value="create" class="btn btn-primary">
                        Create
                    </button>
                    <button type="submit" name="action" value="clear" class="btn btn-danger">Clear
                    </button>
                </p>
            </div>
        </form>
    </div>

    <div>
        <div id="cy"></div>
    </div>

    <br>
    <form th:action="@{/vertices}" th:object="${vertex}"
          method="post">
        <div>
            <input th:field="*{name}" placeholder="Name"/>

            <button type="submit" name="action" value="add" class="btn btn-primary">Add vertex
            </button>
            <button type="submit" name="action" value="remove" class="btn btn-danger">Remove
                vertex
            </button>
        </div>
    </form>

    <br>
    <form th:action="@{/edges}" th:object="${edge}" method="post">
        <div>
            <input th:field="*{source}" placeholder="Source"/>
            <input th:field="*{target}" placeholder="Target"/>
            <input th:field="*{weight}" placeholder="Weight"/>

            <button type="submit" name="action" value="add" class="btn btn-primary">Add edge
            </button>
            <button type="submit" name="action" value="remove" class="btn btn-danger">Remove edge
            </button>
        </div>
    </form>
</div>

<br>


<script th:inline="javascript">
    var vertices = /*[[${vertices}]]*/ '';
    var cyVertices = [];
    for (var vertexIndex = 0; vertexIndex < vertices.length; vertexIndex++) {
        var vertex = vertices[vertexIndex];
        cyVertices.push({
            data: {
                id: vertex,
                label: vertex
            }
        });
    }

    var edges = /*[[${edges}]]*/ '';
    var cyEdges = [];
    for (var edgesIndex = 0; edgesIndex < edges.length; edgesIndex++) {
        var edge = edges[edgesIndex];
        cyEdges.push({
            data: {
                id: edge.name,
                source: edge.source,
                target: edge.target,
                weight: edge.weight,
                label: edge.weight
            }
        });
    }

    var cy = cytoscape({
        container: document.getElementById('cy'),
        elements: {
            nodes: cyVertices,
            edges: cyEdges
        },
        style: cytoscape.stylesheet()
        .selector('node')
        .css({
            'content': 'data(id)'
        })
        .selector('edge')
        .css({
            'content': 'data(weight)'
        }),
        layout: {
            name: 'circle'
        }
    });
</script>

</body>
</html>